node-backup-ubuntu-linux/node_modules/node-red-contrib-iiot-opcua/examples/external/prosys-simulator.json
[
  {
    "id": "e0cf6f1d.21b978",
    "type": "tab",
    "label": "PROSYS Simulator v3.1.6",
    "disabled": false,
    "info": "tested with v3.1.6-192 macOS App"
  },
  {
    "id": "7e6b170.ee84ee8",
    "type": "OPCUA-IIoT-Inject",
    "z": "e0cf6f1d.21b978",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "10",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [
      {
        "name": "MyLevel",
        "nodeId": "ns=2;s=MyLevel",
        "datatypeName": ""
      }
    ],
    "x": 130,
    "y": 140,
    "wires": [
      [
        "46a95131.f4b91",
        "8f663953.16706"
      ]
    ]
  },
  {
    "id": "46a95131.f4b91",
    "type": "OPCUA-IIoT-Read",
    "z": "e0cf6f1d.21b978",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "332d63c8.4f5474",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": true,
    "parseStrings": false,
    "x": 410,
    "y": 140,
    "wires": [
      [
        "866ebcd4.ac71f"
      ]
    ]
  },
  {
    "id": "866ebcd4.ac71f",
    "type": "OPCUA-IIoT-Response",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 140,
    "wires": [
      [
        "a889ef6f.c58de8"
      ]
    ]
  },
  {
    "id": "a889ef6f.c58de8",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 140,
    "wires": []
  },
  {
    "id": "7cb78371.099d14",
    "type": "OPCUA-IIoT-Inject",
    "z": "e0cf6f1d.21b978",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=2;s=MyDevice",
        "datatypeName": ""
      }
    ],
    "x": 120,
    "y": 240,
    "wires": [
      [
        "9966766a.580528"
      ]
    ]
  },
  {
    "id": "7b878952.393608",
    "type": "OPCUA-IIoT-Read",
    "z": "e0cf6f1d.21b978",
    "attributeId": "13",
    "maxAge": 1,
    "depth": 1,
    "connector": "332d63c8.4f5474",
    "name": "",
    "justValue": false,
    "showStatusActivities": false,
    "showErrors": true,
    "parseStrings": false,
    "historyDays": "",
    "x": 410,
    "y": 240,
    "wires": [
      [
        "a7ecf361.314ec8",
        "e01f7cc9.04cd1"
      ]
    ]
  },
  {
    "id": "a7ecf361.314ec8",
    "type": "OPCUA-IIoT-Response",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "compressStructure": false,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "x": 580,
    "y": 280,
    "wires": [
      [
        "45cdb7bd.042dc"
      ]
    ]
  },
  {
    "id": "45cdb7bd.042dc",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 730,
    "y": 280,
    "wires": []
  },
  {
    "id": "9966766a.580528",
    "type": "OPCUA-IIoT-Browser",
    "z": "e0cf6f1d.21b978",
    "connector": "332d63c8.4f5474",
    "nodeId": "",
    "name": "",
    "justValue": true,
    "sendNodesToRead": true,
    "sendNodesToListener": false,
    "sendNodesToBrowser": false,
    "singleBrowseResult": false,
    "recursiveBrowse": false,
    "recursiveDepth": "",
    "delayPerMessage": "",
    "showStatusActivities": false,
    "showErrors": true,
    "x": 260,
    "y": 240,
    "wires": [
      [
        "7b878952.393608",
        "18ca33f6.b8c39c"
      ]
    ]
  },
  {
    "id": "39b08e6.cc060f2",
    "type": "OPCUA-IIoT-Inject",
    "z": "e0cf6f1d.21b978",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 120,
    "y": 380,
    "wires": [
      [
        "38d8b805.9e93d"
      ]
    ]
  },
  {
    "id": "96178527.101e8",
    "type": "OPCUA-IIoT-Read",
    "z": "e0cf6f1d.21b978",
    "attributeId": "0",
    "maxAge": 1,
    "depth": 1,
    "connector": "332d63c8.4f5474",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": true,
    "parseStrings": false,
    "x": 390,
    "y": 380,
    "wires": [
      [
        "28926aa8.cfccd6"
      ]
    ]
  },
  {
    "id": "28926aa8.cfccd6",
    "type": "OPCUA-IIoT-Response",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 380,
    "wires": [
      [
        "9af34805.c06c98"
      ]
    ]
  },
  {
    "id": "9af34805.c06c98",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 380,
    "wires": []
  },
  {
    "id": "38d8b805.9e93d",
    "type": "OPCUA-IIoT-Browser",
    "z": "e0cf6f1d.21b978",
    "connector": "332d63c8.4f5474",
    "nodeId": "ns=4;s=NonUaNodeComplianceTest",
    "name": "",
    "justValue": false,
    "sendNodesToRead": true,
    "sendNodesToListener": false,
    "sendNodesToBrowser": false,
    "singleBrowseResult": false,
    "recursiveBrowse": false,
    "recursiveDepth": "",
    "delayPerMessage": "",
    "showStatusActivities": false,
    "showErrors": true,
    "x": 260,
    "y": 380,
    "wires": [
      [
        "96178527.101e8"
      ]
    ]
  },
  {
    "id": "a30d3618.9ed6c",
    "type": "comment",
    "z": "e0cf6f1d.21b978",
    "name": "NonUaNodeComplianceTest",
    "info": "",
    "x": 320,
    "y": 340,
    "wires": []
  },
  {
    "id": "a503b93f.42e64",
    "type": "comment",
    "z": "e0cf6f1d.21b978",
    "name": "MyDevice",
    "info": "",
    "x": 260,
    "y": 200,
    "wires": []
  },
  {
    "id": "3755e3.51b0ca1e",
    "type": "OPCUA-IIoT-Inject",
    "z": "e0cf6f1d.21b978",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 120,
    "y": 560,
    "wires": [
      [
        "109f8f34.7b7ed9"
      ]
    ]
  },
  {
    "id": "c82119c1.497438",
    "type": "OPCUA-IIoT-Response",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 560,
    "wires": [
      [
        "b85d8654.88213"
      ]
    ]
  },
  {
    "id": "b85d8654.88213",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 560,
    "wires": []
  },
  {
    "id": "109f8f34.7b7ed9",
    "type": "OPCUA-IIoT-Browser",
    "z": "e0cf6f1d.21b978",
    "connector": "332d63c8.4f5474",
    "nodeId": "ns=5;s=85/0:Simulation",
    "name": "",
    "justValue": true,
    "sendNodesToRead": true,
    "sendNodesToListener": true,
    "sendNodesToBrowser": false,
    "singleBrowseResult": false,
    "recursiveBrowse": false,
    "recursiveDepth": "",
    "delayPerMessage": "",
    "showStatusActivities": false,
    "showErrors": true,
    "x": 260,
    "y": 560,
    "wires": [
      [
        "707fe648.df7c48",
        "9477837d.e9cec8",
        "abeb78ae.9c01a8"
      ]
    ]
  },
  {
    "id": "707fe648.df7c48",
    "type": "OPCUA-IIoT-Listener",
    "z": "e0cf6f1d.21b978",
    "connector": "332d63c8.4f5474",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 420,
    "y": 560,
    "wires": [
      [
        "c82119c1.497438"
      ]
    ]
  },
  {
    "id": "a8ab3fe9.fa3d6",
    "type": "OPCUA-IIoT-Inject",
    "z": "e0cf6f1d.21b978",
    "injectType": "write",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=4;s=Boolean",
        "datatypeName": "Boolean"
      },
      {
        "name": "",
        "nodeId": "ns=4;s=Double",
        "datatypeName": "Double"
      },
      {
        "name": "",
        "nodeId": "ns=4;s=DateTime",
        "datatypeName": "DateTime"
      },
      {
        "name": "",
        "nodeId": "ns=4;s=Float",
        "datatypeName": "Float"
      }
    ],
    "x": 120,
    "y": 660,
    "wires": [
      [
        "7832ea0a.691d1c"
      ]
    ]
  },
  {
    "id": "898109a7.cfce78",
    "type": "OPCUA-IIoT-Write",
    "z": "e0cf6f1d.21b978",
    "connector": "332d63c8.4f5474",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": true,
    "x": 410,
    "y": 680,
    "wires": [
      [
        "e436327f.8d8cf8"
      ]
    ]
  },
  {
    "id": "e436327f.8d8cf8",
    "type": "OPCUA-IIoT-Response",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 680,
    "wires": [
      [
        "1d9568a0.444af7"
      ]
    ]
  },
  {
    "id": "1d9568a0.444af7",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 680,
    "wires": []
  },
  {
    "id": "7832ea0a.691d1c",
    "type": "function",
    "z": "e0cf6f1d.21b978",
    "name": "values",
    "func": "msg.valuesToWrite = [\n false,\n 34006.66,\n new Date(),\n 27.88\n]\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 250,
    "y": 660,
    "wires": [
      [
        "898109a7.cfce78",
        "7ec498f6.ea6178"
      ]
    ]
  },
  {
    "id": "299a7452.5345a4",
    "type": "OPCUA-IIoT-Inject",
    "z": "e0cf6f1d.21b978",
    "injectType": "write",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=4;s=Boolean",
        "datatypeName": "Boolean"
      },
      {
        "name": "",
        "nodeId": "ns=4;s=Double",
        "datatypeName": "Double"
      },
      {
        "name": "",
        "nodeId": "ns=4;s=DateTime",
        "datatypeName": "DateTime"
      },
      {
        "name": "",
        "nodeId": "ns=4;s=Float",
        "datatypeName": "Float"
      }
    ],
    "x": 120,
    "y": 700,
    "wires": [
      [
        "b8a75ac7.9c5978"
      ]
    ]
  },
  {
    "id": "b8a75ac7.9c5978",
    "type": "function",
    "z": "e0cf6f1d.21b978",
    "name": "values",
    "func": "msg.valuesToWrite = [\n true,\n 33007.77,\n new Date(),\n 23.44\n]\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 250,
    "y": 700,
    "wires": [
      [
        "898109a7.cfce78",
        "7ec498f6.ea6178"
      ]
    ]
  },
  {
    "id": "c3a7ff45.3bb478",
    "type": "comment",
    "z": "e0cf6f1d.21b978",
    "name": "NonUaNodeComplianceTest listening",
    "info": "",
    "x": 350,
    "y": 460,
    "wires": []
  },
  {
    "id": "efd03f33.3865e",
    "type": "OPCUA-IIoT-Inject",
    "z": "e0cf6f1d.21b978",
    "injectType": "inject",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "",
    "addressSpaceItems": [],
    "x": 120,
    "y": 40,
    "wires": [
      [
        "cb35da54.1a7438"
      ]
    ]
  },
  {
    "id": "cb35da54.1a7438",
    "type": "OPCUA-IIoT-Browser",
    "z": "e0cf6f1d.21b978",
    "connector": "332d63c8.4f5474",
    "nodeId": "ns=4;s=NonUaNodeComplianceTest",
    "name": "",
    "justValue": false,
    "sendNodesToRead": false,
    "sendNodesToListener": false,
    "sendNodesToBrowser": false,
    "singleBrowseResult": false,
    "recursiveBrowse": false,
    "recursiveDepth": "",
    "delayPerMessage": "",
    "showStatusActivities": false,
    "showErrors": true,
    "x": 380,
    "y": 40,
    "wires": [
      [
        "c130efef.706eb8"
      ]
    ]
  },
  {
    "id": "7bd7e7b8.8018e",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 40,
    "wires": []
  },
  {
    "id": "8f663953.16706",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 410,
    "y": 100,
    "wires": []
  },
  {
    "id": "18ca33f6.b8c39c",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 410,
    "y": 300,
    "wires": []
  },
  {
    "id": "9477837d.e9cec8",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 410,
    "y": 620,
    "wires": []
  },
  {
    "id": "7ec498f6.ea6178",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 410,
    "y": 740,
    "wires": []
  },
  {
    "id": "abeb78ae.9c01a8",
    "type": "OPCUA-IIoT-Read",
    "z": "e0cf6f1d.21b978",
    "attributeId": "0",
    "maxAge": 1,
    "depth": 1,
    "connector": "332d63c8.4f5474",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": true,
    "parseStrings": false,
    "x": 410,
    "y": 500,
    "wires": [
      [
        "d09657b3.2768b"
      ]
    ]
  },
  {
    "id": "d09657b3.2768b",
    "type": "OPCUA-IIoT-Response",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 500,
    "wires": [
      [
        "84f46798.ddc0a8"
      ]
    ]
  },
  {
    "id": "84f46798.ddc0a8",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 500,
    "wires": []
  },
  {
    "id": "f5b6acc.0325f5",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 840,
    "wires": []
  },
  {
    "id": "be115559.c99ba8",
    "type": "OPCUA-IIoT-Event",
    "z": "e0cf6f1d.21b978",
    "eventType": "BaseEventType",
    "eventTypeLabel": "BaseEventType (i=2041)",
    "queueSize": "1000",
    "usingListener": true,
    "name": "Base Events",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 270,
    "y": 840,
    "wires": [
      [
        "4778d0c2.dae6e8"
      ]
    ]
  },
  {
    "id": "416bd58c.0b057c",
    "type": "OPCUA-IIoT-Inject",
    "z": "e0cf6f1d.21b978",
    "injectType": "listen",
    "payload": "500",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "events",
    "addressSpaceItems": [
      {
        "name": "Server",
        "nodeId": "ns=0;i=2253",
        "datatypeName": ""
      }
    ],
    "x": 110,
    "y": 840,
    "wires": [
      [
        "be115559.c99ba8",
        "b0d2638c.3eb5"
      ]
    ]
  },
  {
    "id": "4778d0c2.dae6e8",
    "type": "OPCUA-IIoT-Listener",
    "z": "e0cf6f1d.21b978",
    "connector": "332d63c8.4f5474",
    "action": "events",
    "queueSize": "100",
    "name": "",
    "justValue": true,
    "showStatusActivities": false,
    "showErrors": false,
    "x": 420,
    "y": 840,
    "wires": [
      [
        "93807c5.f7e6a"
      ]
    ]
  },
  {
    "id": "b0d2638c.3eb5",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 250,
    "y": 800,
    "wires": []
  },
  {
    "id": "93807c5.f7e6a",
    "type": "OPCUA-IIoT-Response",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 840,
    "wires": [
      [
        "f5b6acc.0325f5"
      ]
    ]
  },
  {
    "id": "300affcd.1c6b4",
    "type": "comment",
    "z": "e0cf6f1d.21b978",
    "name": "server events",
    "info": "",
    "x": 410,
    "y": 800,
    "wires": []
  },
  {
    "id": "8c8fef83.f73818",
    "type": "OPCUA-IIoT-Listener",
    "z": "e0cf6f1d.21b978",
    "connector": "332d63c8.4f5474",
    "action": "subscribe",
    "queueSize": 10,
    "name": "",
    "topic": "",
    "justValue": true,
    "useGroupItems": false,
    "showStatusActivities": false,
    "showErrors": true,
    "x": 340,
    "y": 920,
    "wires": [
      [
        "26bc064e.9b9e1a"
      ]
    ]
  },
  {
    "id": "49150eb5.359fc8",
    "type": "OPCUA-IIoT-Inject",
    "z": "e0cf6f1d.21b978",
    "injectType": "listen",
    "payload": "1000",
    "payloadType": "num",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": true,
    "startDelay": "",
    "name": "listen",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=4;s=Double",
        "datatypeName": ""
      }
    ],
    "x": 110,
    "y": 920,
    "wires": [
      [
        "8c8fef83.f73818"
      ]
    ]
  },
  {
    "id": "9a386488.1e9c48",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 710,
    "y": 920,
    "wires": []
  },
  {
    "id": "26bc064e.9b9e1a",
    "type": "OPCUA-IIoT-Response",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 560,
    "y": 920,
    "wires": [
      [
        "9a386488.1e9c48"
      ]
    ]
  },
  {
    "id": "c130efef.706eb8",
    "type": "OPCUA-IIoT-Response",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "x": 570,
    "y": 40,
    "wires": [
      [
        "7bd7e7b8.8018e"
      ]
    ]
  },
  {
    "id": "de384a95.cc58e8",
    "type": "OPCUA-IIoT-Method-Caller",
    "z": "e0cf6f1d.21b978",
    "connector": "332d63c8.4f5474",
    "objectId": "ns=2;s=MyDevice",
    "methodId": "ns=2;s=MyMethod",
    "methodType": "basic",
    "value": "",
    "justValue": true,
    "name": "sin",
    "showStatusActivities": false,
    "showErrors": false,
    "inputArguments": [
      {
        "name": "Operation",
        "dataType": "String",
        "value": "sin"
      },
      {
        "name": "Parameter",
        "dataType": "Double",
        "value": "12.33"
      }
    ],
    "x": 350,
    "y": 1020,
    "wires": [
      [
        "a2d732f.d12295"
      ]
    ]
  },
  {
    "id": "52ee48b5.96bb78",
    "type": "OPCUA-IIoT-Inject",
    "z": "e0cf6f1d.21b978",
    "injectType": "listen",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "call",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=1;s=Double",
        "datatypeName": ""
      }
    ],
    "x": 110,
    "y": 1020,
    "wires": [
      [
        "de384a95.cc58e8"
      ]
    ]
  },
  {
    "id": "97b74c.0b3950b8",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 810,
    "y": 1140,
    "wires": []
  },
  {
    "id": "75bc4d75.798224",
    "type": "OPCUA-IIoT-Response",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "showStatusActivities": false,
    "showErrors": false,
    "x": 660,
    "y": 1140,
    "wires": [
      [
        "97b74c.0b3950b8"
      ]
    ]
  },
  {
    "id": "30aca093.304ce8",
    "type": "OPCUA-IIoT-Method-Caller",
    "z": "e0cf6f1d.21b978",
    "connector": "332d63c8.4f5474",
    "objectId": "ns=2;s=MyDevice",
    "methodId": "ns=2;s=MyMethod",
    "methodType": "basic",
    "value": "",
    "name": "cos",
    "showStatusActivities": false,
    "showErrors": false,
    "inputArguments": [
      {
        "name": "Operation",
        "dataType": "String",
        "value": "cos"
      },
      {
        "name": "Parameter",
        "dataType": "Double",
        "value": "12.33"
      }
    ],
    "x": 350,
    "y": 1080,
    "wires": [
      [
        "a2d732f.d12295"
      ]
    ]
  },
  {
    "id": "464c9c37.7fd97c",
    "type": "OPCUA-IIoT-Method-Caller",
    "z": "e0cf6f1d.21b978",
    "connector": "332d63c8.4f5474",
    "objectId": "ns=2;s=MyDevice",
    "methodId": "ns=2;s=MyMethod",
    "methodType": "basic",
    "value": "",
    "name": "tan",
    "showStatusActivities": false,
    "showErrors": false,
    "inputArguments": [
      {
        "name": "Operation",
        "dataType": "String",
        "value": "tan"
      },
      {
        "name": "Parameter",
        "dataType": "Double",
        "value": "12.33"
      }
    ],
    "x": 350,
    "y": 1140,
    "wires": [
      [
        "a2d732f.d12295"
      ]
    ]
  },
  {
    "id": "1261ef49.f41631",
    "type": "OPCUA-IIoT-Method-Caller",
    "z": "e0cf6f1d.21b978",
    "connector": "332d63c8.4f5474",
    "objectId": "ns=2;s=MyDevice",
    "methodId": "ns=2;s=MyMethod",
    "methodType": "basic",
    "value": "",
    "name": "pow",
    "showStatusActivities": false,
    "showErrors": false,
    "inputArguments": [
      {
        "name": "Operation",
        "dataType": "String",
        "value": "pow"
      },
      {
        "name": "Parameter",
        "dataType": "Double",
        "value": "12.33"
      }
    ],
    "x": 350,
    "y": 1200,
    "wires": [
      [
        "a2d732f.d12295"
      ]
    ]
  },
  {
    "id": "228ccffb.a3a628",
    "type": "OPCUA-IIoT-Inject",
    "z": "e0cf6f1d.21b978",
    "injectType": "listen",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "call",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=1;s=Double",
        "datatypeName": ""
      }
    ],
    "x": 110,
    "y": 1080,
    "wires": [
      [
        "30aca093.304ce8"
      ]
    ]
  },
  {
    "id": "b4509fd4.fefca8",
    "type": "OPCUA-IIoT-Inject",
    "z": "e0cf6f1d.21b978",
    "injectType": "listen",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "call",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=1;s=Double",
        "datatypeName": ""
      }
    ],
    "x": 110,
    "y": 1140,
    "wires": [
      [
        "464c9c37.7fd97c"
      ]
    ]
  },
  {
    "id": "68c315f3.4383b4",
    "type": "OPCUA-IIoT-Inject",
    "z": "e0cf6f1d.21b978",
    "injectType": "listen",
    "payload": "",
    "payloadType": "date",
    "topic": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "startDelay": "",
    "name": "call",
    "addressSpaceItems": [
      {
        "name": "",
        "nodeId": "ns=1;s=Double",
        "datatypeName": ""
      }
    ],
    "x": 110,
    "y": 1200,
    "wires": [
      [
        "1261ef49.f41631"
      ]
    ]
  },
  {
    "id": "e01f7cc9.04cd1",
    "type": "OPCUA-IIoT-Response",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "x": 590,
    "y": 220,
    "wires": [
      [
        "5325c251.5cdd0c"
      ]
    ]
  },
  {
    "id": "5325c251.5cdd0c",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 730,
    "y": 220,
    "wires": []
  },
  {
    "id": "6336ef76.258368",
    "type": "debug",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 810,
    "y": 1080,
    "wires": []
  },
  {
    "id": "69d4d03b.95461",
    "type": "OPCUA-IIoT-Response",
    "z": "e0cf6f1d.21b978",
    "name": "",
    "compressStructure": true,
    "showStatusActivities": false,
    "showErrors": false,
    "activateUnsetFilter": false,
    "activateFilters": false,
    "negateFilter": false,
    "filters": [],
    "x": 670,
    "y": 1080,
    "wires": [
      [
        "6336ef76.258368"
      ]
    ]
  },
  {
    "id": "a2d732f.d12295",
    "type": "function",
    "z": "e0cf6f1d.21b978",
    "name": "Thru",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 510,
    "y": 1080,
    "wires": [
      [
        "69d4d03b.95461",
        "75bc4d75.798224"
      ]
    ]
  },
  {
    "id": "332d63c8.4f5474",
    "type": "OPCUA-IIoT-Connector",
    "z": "",
    "discoveryUrl": "",
    "endpoint": "opc.tcp://localhost:53530/OPCUA/SimulationServer",
    "keepSessionAlive": true,
    "loginEnabled": false,
    "securityPolicy": "Basic256Sha256",
    "securityMode": "SIGNANDENCRYPT",
    "name": "PROSYS SERVER",
    "showErrors": true,
    "publicCertificateFile": "",
    "privateKeyFile": "",
    "defaultSecureTokenLifetime": "60000",
    "endpointMustExist": false,
    "autoSelectRightEndpoint": false,
    "strategyMaxRetry": "",
    "strategyInitialDelay": "",
    "strategyMaxDelay": "",
    "strategyRandomisationFactor": "",
    "requestedSessionTimeout": "",
    "connectionStartDelay": "",
    "reconnectDelay": ""
  }
]
