nodered-esp8266-modbus-mqtt2
[
    {
        "id": "2f672f5e.71145",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "81120c54.e07e5",
        "type": "modbus-client",
        "z": "",
        "name": "esp8266",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": true,
        "tcpHost": "192.168.1.8",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectTimeout": 2000
    },
    {
        "id": "632be074.8b2c3",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.1.50",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c5f87b37.09e888",
        "type": "modbustcp-no-pooling-server",
        "z": "",
        "host": "192.168.1.7",
        "port": "502",
        "unit_id": "1"
    },
    {
        "id": "584c9492.4829ec",
        "type": "modbus-write",
        "z": "2f672f5e.71145",
        "name": "esp8266-modbus",
        "showStatusActivities": true,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "81120c54.e07e5",
        "x": 326,
        "y": 182,
        "wires": [
            [
                "aee888f.112e378"
            ],
            [
                "2d5ed309.1367bc",
                "b3889188.cf1d5",
                "bc8595c2.350518"
            ]
        ]
    },
    {
        "id": "3a83909.392cc7",
        "type": "inject",
        "z": "2f672f5e.71145",
        "name": "",
        "topic": "",
        "payload": "1.5",
        "payloadType": "num",
        "repeat": "50",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 131,
        "y": 117,
        "wires": [
            [
                "584c9492.4829ec"
            ]
        ]
    },
    {
        "id": "5b02bbda.e60634",
        "type": "mqtt in",
        "z": "2f672f5e.71145",
        "name": "",
        "topic": "esp8266/modbus",
        "qos": "0",
        "broker": "632be074.8b2c3",
        "x": 105,
        "y": 365,
        "wires": [
            [
                "584c9492.4829ec"
            ]
        ]
    },
    {
        "id": "2d5ed309.1367bc",
        "type": "file",
        "z": "2f672f5e.71145",
        "name": "",
        "filename": "/home/harshad/modbus-data.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 580,
        "y": 342,
        "wires": []
    },
    {
        "id": "b3889188.cf1d5",
        "type": "modbus-response",
        "z": "2f672f5e.71145",
        "name": "",
        "registerShowMax": 20,
        "x": 676,
        "y": 124,
        "wires": []
    },
    {
        "id": "bc8595c2.350518",
        "type": "mqtt out",
        "z": "2f672f5e.71145",
        "name": "",
        "topic": "esp8266/modbus-output",
        "qos": "",
        "retain": "",
        "broker": "632be074.8b2c3",
        "x": 742,
        "y": 233,
        "wires": []
    },
    {
        "id": "bcfd2409.19d358",
        "type": "trigger",
        "z": "2f672f5e.71145",
        "op1": "1",
        "op2": "100",
        "op1type": "str",
        "op2type": "str",
        "duration": "50",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 230,
        "y": 503,
        "wires": [
            [
                "48d3eb9f.9b4114"
            ]
        ]
    },
    {
        "id": "547bf93d.1c7258",
        "type": "modbus-response",
        "z": "2f672f5e.71145",
        "name": "Holding Coil",
        "registerShowMax": 20,
        "x": 740,
        "y": 474,
        "wires": []
    },
    {
        "id": "48d3eb9f.9b4114",
        "type": "modbus-write",
        "z": "2f672f5e.71145",
        "name": "esp8266-modbus",
        "showStatusActivities": true,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "2",
        "quantity": "1",
        "server": "81120c54.e07e5",
        "x": 466,
        "y": 515,
        "wires": [
            [],
            [
                "547bf93d.1c7258"
            ]
        ]
    },
    {
        "id": "8adfc88a.42d1a8",
        "type": "inject",
        "z": "2f672f5e.71145",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "20",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 86,
        "y": 594,
        "wires": [
            [
                "bcfd2409.19d358"
            ]
        ]
    },
    {
        "id": "aee888f.112e378",
        "type": "modbus-response",
        "z": "2f672f5e.71145",
        "name": "esp8266",
        "registerShowMax": 20,
        "x": 469,
        "y": 41,
        "wires": []
    }
]
