node-backup-ubuntu-linux/.node-red/flows_harshad-HP-Laptop-15q-ds0xxx.json
[{"id":"c4458e71.4828b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"72616010.c1557","type":"modbus-client","z":"","name":"Serial_2400_8_N_1","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"10.10.100.254","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":30,"clientTimeout":2000,"reconnectTimeout":5000},{"id":"2dcf4e1f.a43f92","type":"mqtt-broker","z":"","name":"raspberrypi","broker":"192.168.1.50","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c674667f.b38e48","type":"ui_group","z":"c4458e71.4828b","name":"SDM120 Energy Meter","tab":"6b223117.ba4fa8","order":2,"disp":true,"width":"6","collapse":false},{"id":"6b223117.ba4fa8","type":"ui_tab","z":"c4458e71.4828b","name":"Modbus","icon":"memory","order":15},{"id":"b4786e8b.1fc07","type":"comment","z":"c4458e71.4828b","name":"SDM120 Energy Meter","info":"","x":251,"y":66,"wires":[]},{"id":"76c88872.c03158","type":"modbus-read","z":"c4458e71.4828b","name":"SDM 120 Voltage","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"0","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"72616010.c1557","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":222.5,"y":159,"wires":[["6c82a04c.61db5","86e68934.39b1f"],[]]},{"id":"6c82a04c.61db5","type":"function","z":"c4458e71.4828b","name":"Voltage","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"voltage\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":451.5,"y":152,"wires":[["98918e9b.045fe","12f2ae2e.181db2","636d7012.994d38"]]},{"id":"b36774a0.349b68","type":"modbus-queue-info","z":"c4458e71.4828b","name":"SDM120_queue","topic":"","unitid":"1","lowLowLevel":"1","lowLevel":75,"highLevel":150,"highHighLevel":300,"server":"72616010.c1557","errorOnHighLevel":false,"x":594.1428527832031,"y":526.107177734375,"wires":[["9056925e.c46be8"]]},{"id":"9c45595e.1f9a38","type":"inject","z":"c4458e71.4828b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":163.1428680419922,"y":566.1072082519531,"wires":[["98d7c7dc.e9eb28"]]},{"id":"98d7c7dc.e9eb28","type":"change","z":"c4458e71.4828b","name":"Reset queue","rules":[{"t":"set","p":"resetQueue","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":392.14286041259766,"y":527.1071891784668,"wires":[["b36774a0.349b68"]]},{"id":"8a7f20b1.b22a18","type":"function","z":"c4458e71.4828b","name":"Current","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"current\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":450.5,"y":210,"wires":[["d53c8701.2e8858","12f2ae2e.181db2"]]},{"id":"5a3cc26d.eb6474","type":"function","z":"c4458e71.4828b","name":"Power","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"power\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":441.5,"y":263,"wires":[["69b5dba5.c17ae4","12f2ae2e.181db2"]]},{"id":"361bbdad.fce602","type":"function","z":"c4458e71.4828b","name":"Frequency","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"frequency\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":509.5,"y":315,"wires":[["15c9ee8e.290629","12f2ae2e.181db2"]]},{"id":"9577c24b.3791d","type":"function","z":"c4458e71.4828b","name":"Energy","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(2));\nmsg.topic = \"energy\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":451.5,"y":390,"wires":[["6f47f24e.20dc74","12f2ae2e.181db2"]]},{"id":"85a7fad9.52b5e8","type":"modbus-read","z":"c4458e71.4828b","name":"SDM 120 Current","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"6","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"72616010.c1557","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":231.5,"y":217,"wires":[["8a7f20b1.b22a18"],[]]},{"id":"d59c9a25.d04bb","type":"modbus-read","z":"c4458e71.4828b","name":"SDM 120 Power","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"12","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"72616010.c1557","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":221.5,"y":269,"wires":[["5a3cc26d.eb6474"],[]]},{"id":"ad4e49b1.f140b","type":"modbus-read","z":"c4458e71.4828b","name":"SDM 120 Frequency","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"70","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"72616010.c1557","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":177.5,"y":385,"wires":[["361bbdad.fce602","80191aaa.de137"],[]]},{"id":"2b69d914.614c96","type":"modbus-read","z":"c4458e71.4828b","name":"SDM 120 Energy","topic":"","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"342","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"72616010.c1557","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":163.5,"y":448,"wires":[["9577c24b.3791d","39353cdb.a13d0c"],[]]},{"id":"12f2ae2e.181db2","type":"function","z":"c4458e71.4828b","name":"Build object","func":"watch_topic = \"energy\";\nvar output = {};\n\ncontext.set(msg.topic,msg.payload);\n\nif (context.get(\"voltage\")!==undefined) {\n    output.voltage = context.get(\"voltage\");\n}\nif (context.get(\"current\")!==undefined) {\n    output.current = context.get(\"current\");\n}\nif (context.get(\"power\")!==undefined) {\n    output.power = context.get(\"power\");\n}\nif (context.get(\"frequency\")!==undefined) {\n    output.frequency = context.get(\"frequency\");\n}\nif (context.get(\"energy\")!==undefined) {\n    output.energy = context.get(\"energy\");\n}\nmsg.payload = output;\n\nif (msg.topic===watch_topic) {\n    msg.topic = \"sdm120\";\n    return msg;\n}","outputs":1,"noerr":0,"x":849.5,"y":227,"wires":[["4cb05c9f.f1c4dc","29f51d85.822c92"]]},{"id":"4cb05c9f.f1c4dc","type":"debug","z":"c4458e71.4828b","name":"","active":false,"console":"false","complete":"true","x":1057.5,"y":282,"wires":[]},{"id":"805e355f.730968","type":"function","z":"c4458e71.4828b","name":"Diagnostic input message structure","func":"// setting a global flag that the solar system is down\n\nmsg.payload = \"High voltage warning: \" + msg.payload.voltage +\" V\";\nmsg.system = 1; // System id, use 1 for Dummy\n//msg.state = 1; // specify if the message is to change system status\nmsg.severity = 1; // 0: information, 1: warning, 2: error\nmsg.email = false; // if separate email should be sent\n//msg.emailtext = \"Clean up step of the SAIA log backup has failed\";\nreturn msg;","outputs":1,"noerr":0,"x":1542.5,"y":125,"wires":[["e19c526b.a56b"]]},{"id":"e19c526b.a56b","type":"link out","z":"c4458e71.4828b","name":"","links":["13e089a7.73cb46"],"x":1749.5,"y":147,"wires":[]},{"id":"3274ab4f.25efac","type":"switch","z":"c4458e71.4828b","name":"Voltage check","property":"payload.voltage_check","propertyType":"msg","rules":[{"t":"eq","v":"high","vt":"str"},{"t":"eq","v":"low","vt":"str"}],"checkall":"true","outputs":2,"x":1250.5,"y":149,"wires":[["805e355f.730968"],["f7eeb734.5c1378"]]},{"id":"f7eeb734.5c1378","type":"function","z":"c4458e71.4828b","name":"Diagnostic input message structure","func":"// setting a global flag that the solar system is down\n\nmsg.payload = \"Low voltage warning: \" + msg.payload.voltage +\" V\";\nmsg.system = 1; // System id, use 1 for Dummy\n//msg.state = 1; // specify if the message is to change system status\nmsg.severity = 1; // 0: information, 1: warning, 2: error\nmsg.email = false; // if separate email should be sent\n//msg.emailtext = \"Clean up step of the SAIA log backup has failed\";\nreturn msg;","outputs":1,"noerr":0,"x":1542.5,"y":170,"wires":[["e19c526b.a56b"]]},{"id":"29f51d85.822c92","type":"function","z":"c4458e71.4828b","name":"Voltage check","func":"var high = 250.0;\nvar low = 220.0;\n\nif (msg.payload.voltage > high) {\n    msg.payload.voltage_check = \"high\";\n}\nif (msg.payload.voltage < low) {\n    msg.payload.voltage_check = \"low\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1037.5,"y":150,"wires":[["3274ab4f.25efac"]]},{"id":"ba84e21e.32ce1","type":"function","z":"c4458e71.4828b","name":"reset on HighHigh","func":"if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":467.00000762939453,"y":657.2500247955322,"wires":[["b36774a0.349b68","d32fe5a7.d7cee8"]]},{"id":"4f4cb88a.accb98","type":"catch","z":"c4458e71.4828b","name":"Catch queue errors","scope":["b36774a0.349b68"],"x":229.00000762939453,"y":657.2500247955322,"wires":[["ba84e21e.32ce1"]]},{"id":"e5a63179.efca18","type":"comment","z":"c4458e71.4828b","name":"Error handling","info":"","x":195.00000762939453,"y":612.2500247955322,"wires":[]},{"id":"d32fe5a7.d7cee8","type":"function","z":"c4458e71.4828b","name":"Diagnostic input message structure","func":"// setting a global flag that the solar system is down\n\nmsg.payload = \"SDM120 modbus queue reached high level, resetting. (\" + msg.state + \")\";\nmsg.system = 4; // System id, use 1 for Dummy\n//msg.state = 1; // specify if the message is to change system status\nmsg.severity = 1; // 0: information, 1: warning, 2: error\nmsg.email = false; // if separate email should be sent\n//msg.emailtext = \"Clean up step of the SAIA log backup has failed\";\nreturn msg;","outputs":1,"noerr":0,"x":767.0000076293945,"y":656.2500247955322,"wires":[["aa2c60bf.f0ec28"]]},{"id":"aa2c60bf.f0ec28","type":"link out","z":"c4458e71.4828b","name":"","links":["13e089a7.73cb46"],"x":953.0000076293945,"y":656.2500247955322,"wires":[]},{"id":"23eb701.c58ab1","type":"catch","z":"c4458e71.4828b","name":"Modbus read errors","scope":["85a7fad9.52b5e8","2b69d914.614c96","ad4e49b1.f140b","d59c9a25.d04bb","76c88872.c03158","b4786e8b.1fc07"],"x":229.00000762939453,"y":700.2500247955322,"wires":[["f707d3df.401fc8"]]},{"id":"f707d3df.401fc8","type":"function","z":"c4458e71.4828b","name":"Diagnostic input message structure","func":"// setting a global flag that the solar system is down\n\nmsg.payload = \"SDM120 modbus error: \" + msg.error.message;\nmsg.system = 4; // System id, use 1 for Dummy\n//msg.state = 1; // specify if the message is to change system status\nmsg.severity = 1; // 0: information, 1: warning, 2: error\nmsg.email = false; // if separate email should be sent\n//msg.emailtext = \"Clean up step of the SAIA log backup has failed\";\nreturn msg;","outputs":1,"noerr":0,"x":518.0000076293945,"y":700.2500247955322,"wires":[["75207042.7265d8"]]},{"id":"75207042.7265d8","type":"link out","z":"c4458e71.4828b","name":"","links":["13e089a7.73cb46"],"x":704.0000076293945,"y":700.2500247955322,"wires":[]},{"id":"9056925e.c46be8","type":"debug","z":"c4458e71.4828b","name":"","active":true,"console":"false","complete":"true","x":775.0000076293945,"y":525.2500247955322,"wires":[]},{"id":"39353cdb.a13d0c","type":"function","z":"c4458e71.4828b","name":"Health check","func":"var devicename = \"sdm120\"; // Device name used for context variable\nvar system_id = 4; // System id number for diagnostic update\nvar online_threshold = 10; // Seconds between updates under which the device is considered online\nvar offline_threshold = 30; // Seconds between updates above which the device is considered offline\n\nvar temp = context.get(devicename+\"_update\");\nvar current = new Date();\nmsg.payload = \"No data\";\nmsg.warning = false;\nif (msg.topic!==\"timecheck\") {\n    // Do not update the context if it is triggered by the check inject node\n    context.set(devicename+\"_update\",current);\n}\nif (temp===undefined) {\n    // this will be the case when node-red is booting up or redeployed\n    context.set(devicename+\"_update\",current);\n}\n\nif (temp!==undefined) {\n    current = current - temp;\n    current = Math.floor(current/1000);\n    var minute = Math.floor(current/60);\n    var hour = Math.floor(minute/60);\n    var day = Math.floor(hour/24);\n    if (current>24*60*60) {\n        msg.payload = \"Last update \" + day + \" days, \" + hour%24 + \" hours, \" + minute%60 + \" minutes, \" + current%60 + \" seconds ago\";\n    } else if (current>60*60) {\n        msg.payload = \"Last update \" + hour%24 + \" hours, \" + minute%60 + \" minutes, \" + current%60 + \" seconds ago\";\n    } else if (current>60) {\n        msg.payload = \"Last update \" + minute%60 + \" minutes, \" + current%60 + \" seconds ago\";\n    } else {\n        msg.payload = \"Last update \" + current%60 + \" seconds ago\";\n    }\n\n    if (context.get(devicename+\"_state\")!==1) {\n        if (current<online_threshold) {\n            msg.payload = \"SDM120 is now online\";\n            msg.system = system_id; // System id, use 1 for Dummy\n            msg.state = 1; // specify if the message is to change system status\n            msg.severity = 0; // 0: information, 1: warning, 2: error\n            //msg.email = true; // if separate email should be sent\n            //msg.emailtext = \"\"; this a long text which goes into the email  \n            msg.warning = true;\n            context.set(devicename+\"_state\",1);\n        }\n    } else {\n        if (current>offline_threshold) {\n            msg.payload = \"SDM120 is not transmitting\";\n            msg.system = system_id; // System id, use 1 for Dummy\n            msg.state = 99; // specify if the message is to change system status\n            msg.severity = 2; // 0: information, 1: warning, 2: error\n            //msg.email = true; // if separate email should be sent\n            //msg.emailtext = \"\"; this a long text which goes into the email            \n            msg.warning = true;\n            context.set(devicename+\"_state\",99);\n        }\n    }\n    \n    \n}\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});\n\nreturn msg;","outputs":1,"noerr":0,"x":475.5,"y":444,"wires":[["d61a7c2.a2063"]]},{"id":"d650dd86.0a7d3","type":"inject","z":"c4458e71.4828b","name":"Check","topic":"timecheck","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":148.5,"y":517,"wires":[["39353cdb.a13d0c"]]},{"id":"d61a7c2.a2063","type":"switch","z":"c4458e71.4828b","name":"Update diag?","property":"warning","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":670.5,"y":444,"wires":[["74d18ce0.f84c6c"]]},{"id":"74d18ce0.f84c6c","type":"link out","z":"c4458e71.4828b","name":"","links":["13e089a7.73cb46"],"x":789.8015727996826,"y":443.57140350341797,"wires":[]},{"id":"86e68934.39b1f","type":"debug","z":"c4458e71.4828b","name":"","active":true,"console":"false","complete":"false","x":452.5,"y":70,"wires":[]},{"id":"80191aaa.de137","type":"debug","z":"c4458e71.4828b","name":"","active":true,"console":"false","complete":"false","x":262,"y":319,"wires":[]},{"id":"636d7012.994d38","type":"mqtt out","z":"c4458e71.4828b","name":"Voltage","topic":"modbus/voltage","qos":"","retain":"","broker":"2dcf4e1f.a43f92","x":649.5,"y":78,"wires":[]},{"id":"98918e9b.045fe","type":"ui_text","z":"c4458e71.4828b","group":"73a59683.b18c78","order":0,"width":0,"height":0,"name":"","label":"Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":769.5,"y":120,"wires":[]},{"id":"d53c8701.2e8858","type":"ui_text","z":"c4458e71.4828b","group":"c674667f.b38e48","order":0,"width":0,"height":0,"name":"","label":"Current","format":"{{msg.payload}} A","layout":"row-spread","x":638.5,"y":209,"wires":[]},{"id":"69b5dba5.c17ae4","type":"ui_text","z":"c4458e71.4828b","group":"73a59683.b18c78","order":0,"width":0,"height":0,"name":"","label":"Power","format":"{{msg.payload}} W","layout":"row-spread","x":634.5,"y":264,"wires":[]},{"id":"15c9ee8e.290629","type":"ui_text","z":"c4458e71.4828b","group":"73a59683.b18c78","order":0,"width":0,"height":0,"name":"","label":"Frequency","format":"{{msg.payload}} Hz","layout":"row-spread","x":765.5,"y":337,"wires":[]},{"id":"6f47f24e.20dc74","type":"ui_text","z":"c4458e71.4828b","group":"73a59683.b18c78","order":0,"width":0,"height":0,"name":"","label":"Total Energy","format":"{{msg.payload}} kWh","layout":"row-spread","x":701.5,"y":389,"wires":[]}]